.workspace-box {
  margin-right: 1em;
  color: #CBCBCB;
}

.workspace-box:last-child {
  margin-right: 0;
}

.workspace-box:hover {
  color: #FEFEFE;
}

.workspace-active, .workspace-active:hover {
  color: #FBB86C;
}