.workspace-box {
  margin-left: 1em;
  color: #CBCBCB;
}

.workspace-box:hover {
  color: #FEFEFE;
}

.workspace-first {
  margin-left: 0;
}

.workspace-active, .workspace-active:hover {
  color: #FBB86C;
}

.workspace-icon {
  -st-icon-style: symbolic;
}

.workspace-icon-multiple {
  margin-left: 0.3em;
}